    body {
        background-color: black;
        align-items: center;
    }
    
    h1 {
        font-size: 27px;
        color: red;
        font-family: cursive;
    }
    
    h2 {
        font-size: 2rem;
        font-family: monospace;
        color: white;
    }
    
    h3 {
        font-size: 19;
        color: white;
    }
    
    div {
        color: white;
        background-color: dimgray;
        width: auto;
        height: auto;
    }
    
    a {
        color: red;
    }
    
    p {
        font-size: 19;
    }