.container {
    display: grid;
    grid-gap: 12px;
    grid-template-areas: "header1 header1 header1" "header2 header2 header2" "about about about" "products1 products1  products1" "covid covid covid" "contact contact contact";
}

p {
	color: white;
    font-size: 30px;
}

img {
    height: auto;
    width: auto;
    margin-left: 70px;
}

.header1 {
    grid-area: header1;
    height: auto;
    width: auto;
    font-size: 45px;
    color: brown;
    font-weight: bold;
    text-align: center;
}

.header2 {
    grid-area: header2;
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
}

.about {
    grid-area: about;
    height: auto;
    width: auto;
    font-family: cursive;
    color: darkgreen;
}

.products1 {
    grid-area: products1;
    height: auto;
    width: auto;
    align-items: center;
}

.covid {
    grid-area: covid;
    height: auto;
    width: auto;
    color: white;
    background-image: url(coffee4.jpg);
    font-size: 25px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: whitesmoke;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}


/*checkout*/
.item {
    text-align: center;
    border: 1px solid green;
    margin: 10px;
}

.itemName, .quality, button {
    font-size: 15px;
    margin: 1px;
}

h2, #checkout {
    background-color: green;
    color: white;
    padding: 5px;
    align-content: center;
}

#cof {
    height: 45px;
    width: 45px;
}

.contact {
    width: auto;
	border-radius: 10px;
	background-color: gray;
}

li {
	color: black;
    list-style-type: none;
    font-size: 20px;
}

#checkout:hover {
    cursor: pointer;
}
